html,
body {
  overscroll-behavior: none;
}

main,
.general-settings-scroll {
  scrollbar-width: none;
  overscroll-behavior: none;
}

main::-webkit-scrollbar,
.general-settings-scroll::-webkit-scrollbar {
  display: none;
}
